PassengerEnabled Off

DirectoryIndex public/index.php
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /backend/

    RewriteRule ^$ public/index.php [L]
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
